<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.devartlab">

    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.CAMERA2" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        tools:ignore="ScopedStorage" />

    <uses-feature android:name="android.hardware.location.gps" />

    <application
        android:name=".base.BaseApplication"
        android:fullBackupContent="false"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".ui.main.ui.eShopping.requestVoucher.OrderRequestVouvherActivity"
            android:exported="false" />
        <activity
            android:name=".ui.main.ui.devartlink.calender.AddEventActivity"
            android:exported="false" />
        <activity
            android:name=".ui.main.ui.devartlink.calender.CalenderActivity"
            android:exported="false" />
        <activity
            android:name=".ui.main.ui.devartlink.handBook.HandBookActivity"
            android:exported="false" />
        <activity
            android:name=".ui.main.ui.devartlink.devartAcademy.DevartAcademyActivity"
            android:exported="false" />
        <activity
            android:name=".ui.main.ui.callmanagement.incentiveRule.IncentiveRuleActivity"
            android:exported="false" />
        <activity
            android:name=".ui.main.ui.devartlink.devartCommunity.DevartCommunityVideoActivity"
            android:exported="false" />
        <activity
            android:name=".ui.main.ui.devartlink.devartCommunity.DevartCommunityActivity"
            android:exported="false" />
        <activity
            android:name=".ui.main.ui.devartLabTeam.DevartLabTeamActivity"
            android:exported="false" />
        <activity
            android:name=".ui.main.ui.eShopping.requestVoucher.showVouchers.ShowVouchersActivity"
            android:exported="false" />
        <activity
            android:name=".ui.main.ui.eShopping.requestVoucher.RequestVoucherActivity"
            android:exported="false" />
        <activity
            android:name=".ui.main.ui.eShopping.report.Report4eShoppingActivity"
            android:exported="false" />
        <activity
            android:name=".ui.main.ui.devartlink.DevartLinkActivity"
            android:exported="true" />
        <activity
            android:name=".ui.main.ui.callmanagement.list.create.CreateNewCustomerActivity"
            android:exported="true" />
        <activity
            android:name=".ui.main.ui.callmanagement.inventory.balance.InventoryBalanceDetailsLayout"
            android:exported="true" />
        <activity
            android:name=".ui.main.ui.callmanagement.inventory.balance.InventoryBalanceActivity"
            android:exported="true" />
        <activity
            android:name=".ui.main.ui.callmanagement.inventory.status.InventoryStatusDetailsActivity"
            android:exported="true" />
        <activity
            android:name=".ui.main.ui.callmanagement.inventory.status.InventoryRequestsStatusActivity"
            android:exported="true" />
        <activity
            android:name=".ui.main.ui.callmanagement.trade.selectProductContract.SelectProductsActivity"
            android:exported="true" />
        <activity
            android:name=".ui.main.ui.callmanagement.planListpermission.ListPermissionActivity"
            android:exported="true" />
        <activity
            android:name=".ui.main.ui.callmanagement.ranks.doublevisit.DVDetailsActivity"
            android:exported="true" />
        <activity
            android:name=".ui.main.ui.moreDetailsAds.MoreDetailsAdsActivity"
            android:exported="true" />
        <activity
            android:name=".ui.main.ui.callmanagement.ranks.medicalriprank.MedicalRepReportActivity"
            android:exported="true" />
        <activity
            android:name=".ui.main.ui.callmanagement.trade.TradeActivity"
            android:exported="true" />
        <activity
            android:name=".ui.main.ui.trade.NewCustomerActivity"
            android:exported="true" />
        <activity
            android:name=".ui.main.ui.trade.PrintActivity"
            android:exported="true" />
        <activity
            android:name=".ui.main.ui.TestActivity"
            android:exported="true" />
        <activity
            android:name=".ui.main.ui.employeeservices.SelfServiceActivity"
            android:exported="true" />
        <activity
            android:name=".ui.main.ui.callmanagement.CallManagementActivity"
            android:exported="true"
            android:label="@string/title_activity_call_management"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.main.ui.employeeservices.hrrequest.AddNewRequest"
            android:exported="true" />
        <activity
            android:name=".ui.main.ui.market.details.MarketRequestDetailsActivity"
            android:exported="true" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:exported="true"
            android:value="@string/google_maps_key" />
        <meta-data
            android:name="com.google.android.gms.version"
            android:exported="true"
            android:value="@integer/google_play_services_version" />

        <activity
            android:name=".ui.main.ui.callmanagement.employee.EmployeeReportActivity"
            android:exported="true" />
        <activity
            android:name=".ui.main.ui.employeeservices.EmployeeServicesActivity"
            android:exported="true" />
        <activity
            android:name=".ui.main.ui.callmanagement.list.addnewcus.AddNewCustomer"
            android:exported="true" />
        <activity
            android:name=".ui.main.ui.site.SiteActivity"
            android:exported="true" />
        <activity
            android:name=".ui.auth.devartsite.DevartActivity"
            android:exported="true" />
        <activity
            android:name=".ui.main.ui.callmanagement.plan.addplan.meeting.AddMeetingActivity"
            android:exported="true" />
        <activity
            android:name=".ui.main.ui.callmanagement.plan.addplan.doublee.DoubleActivity"
            android:exported="true" />
        <activity
            android:name=".ui.main.ui.callmanagement.plan.addplan.office.AddOfficeActivity"
            android:exported="true" />
        <activity
            android:name=".ui.main.ui.callmanagement.report.arrange.ArrangeActivity"
            android:exported="true" />
        <activity
            android:name=".ui.main.ui.callmanagement.plan.addplan.single.AddPlanDoubleExtraActivity"
            android:exported="true" />
        <activity
            android:name=".ui.main.MainActivity"
            android:configChanges="orientation|screenSize"
            android:exported="true"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.auth.splash.SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.slider.ImagesSlider"
            android:exported="true"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar.FullScreen" />
        <activity
            android:name=".ui.main.CallsActivity"
            android:exported="true" />
        <activity
            android:name=".ui.main.ui.callmanagement.plan.addplan.single.AddPlanSingleActivity"
            android:exported="true" />
        <activity
            android:name=".ui.main.ui.profile.ProfileActivity"
            android:exported="true" />
        <activity
            android:name=".ui.main.ui.market.MarketRequestTypesActivity"
            android:exported="true" />
        <activity
            android:name=".ui.main.ui.employeeservices.penalties.google.AddNewPenaltyActivity"
            android:exported="true" />
        <activity
            android:name=".ui.main.ui.trade.PlaceOrderActivity"
            android:exported="true" />
        <activity
            android:name=".ui.main.ui.callmanagement.trade.printer.PrinterConnectActivity"
            android:exported="true" />
        <activity
            android:name=".ui.main.ui.trade.manager.DayMapActivity"
            android:exported="true" />
        <activity
            android:name=".UpdatePlan"
            android:exported="true" />
        <activity android:name=".ui.main.ui.callmanagement.planListpermission.PlanPermissionActivity" />
        <activity android:name=".ui.main.ui.callmanagement.ranks.planandcover.PlanAndCoverDetailsActivity" />
        <activity android:name="qruz.t.qruzdriverapp.ui.main.fragments.profile.changelang.ChangeLanguage" />
        <activity android:name=".ui.main.ui.employeeservices.SubmitFingerprintActivity" />
        <activity android:name=".ui.main.ui.contactlist.ui.main.ContactsActivity" />
        <activity
            android:name=".ui.main.ui.contactlist.ui.main.ContactDetails"
            android:exported="true" />
        <activity
            android:name=".ui.auth.login.LoginActivity"
            android:exported="true" />
        <activity
            android:name=".ui.main.ui.callmanagement.trade.printer.OrderPrintActivity"
            android:exported="true" />
        <activity android:name=".ui.main.ui.callmanagement.trade.customerinvoicecollect.CustomerInvoiceCollectReportActivity" />
        <activity
            android:name=".ui.trade.ReceiveTransferActivity"
            android:exported="true" />
        <activity
            android:name=".ui.trade.InventoryMovesDetailsDescriptionLayout"
            android:exported="true" />
        <activity
            android:name=".ui.trade.InventoryDetails"
            android:exported="true" />
        <activity
            android:name=".ui.main.ui.callmanagement.inventory.movements.StockingActivity"
            android:exported="true" />
        <activity
            android:name=".ui.main.ui.callmanagement.trade.selectProducts.GeneralSelectProductsActivity"
            android:exported="true" />
        <activity
            android:name=".ui.main.ui.callmanagement.inventory.loadcar.InventoryLoadCarActivity"
            android:exported="true" />
        <activity
            android:name=".ui.trade.InventoryLoadCarDescriptionLayout"
            android:exported="true" />
        <activity
            android:name=".ui.trade.InventoryInventoryDetailsActivity"
            android:exported="true" />
        <activity
            android:name=".ui.main.ui.callmanagement.inventory.details.MovmentsDetailsActivity"
            android:exported="true" />
        <activity
            android:name=".ui.main.ui.employeeservices.leavework.LeaveWorkActivity"
            android:exported="true" />
        <activity
            android:name=".ui.main.ui.employeeservices.businessCard.BusinessCardActivity"
            android:exported="true" />
        <activity
            android:name=".ui.trade.InventoryTransferDetailsActivity"
            android:exported="true" />
        <activity
            android:name=".ui.main.ui.devartlink.DevartLinkWebView"
            android:exported="true" />
        <activity
            android:name=".ui.main.ui.eShopping.orientationVideos.VideoActivity"
            android:exported="false" />
        <activity
            android:name=".ui.main.ui.eShopping.ticket.ChatThread4EShoppingActivity"
            android:exported="false" />
        <activity
            android:name=".ui.main.ui.eShopping.ticket.TicketActivity"
            android:exported="true"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".ui.main.ui.eShopping.addProductsToThePharmacy.AddProductsPharmacyActivity"
            android:exported="false" />
        <activity
            android:name=".ui.main.ui.eShopping.pharmacySales.DetailsPharmacySalesActivity"
            android:exported="false" />
        <activity
            android:name=".ui.main.ui.eShopping.pharmacySales.PharmacySalesActivity"
            android:exported="false" />
        <activity
            android:name=".ui.main.ui.eShopping.pharmacyBinding.uploadPharmacyFiles.UploadPharmacyFilesActivity"
            android:exported="false" />
        <activity
            android:name=".ui.main.ui.eShopping.main.Home4EShoppingActivity"
            android:exported="true" />
        <activity
            android:name=".ui.main.ui.eShopping.pharmacyBinding.addLocation.AddLocationActivity"
            android:exported="false" />
        <activity
            android:name=".ui.main.ui.eShopping.pharmacyBinding.allComments.AllCommentsActivity"
            android:exported="false" />
        <activity
            android:name=".ui.main.ui.eShopping.pharmacyBinding.PharmacyBindingActivity"
            android:exported="false" />
        <activity
            android:name=".ui.main.ui.eShopping.orientationVideos.OrientationVideosActivity"
            android:windowSoftInputMode="stateHidden"
            android:exported="true">
            <intent-filter android:label="Video 4eShopping CRM">
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <category android:name="android.intent.category.DEFAULT"/>

                <data android:scheme="https"
                    android:host="youtu.be"
                    android:pathPrefix="/5CmRnS6ZQdE"/>

                <data android:scheme="https"
                    android:host="youtu.be"
                    android:pathPrefix="/L4HWjVsnX2I"/>

                <data android:scheme="https"
                    android:host="youtu.be"
                    android:pathPrefix="/QaufpZVAjCU"/>

                <data android:scheme="https"
                    android:host="youtu.be"
                    android:pathPrefix="/QfHA3ScEElM"/>

                <data android:scheme="https"
                    android:host="youtu.be"
                    android:pathPrefix="/oyQo_fgM8gc"/>

                <data android:scheme="https"
                    android:host="youtu.be"
                    android:pathPrefix="/0M4uWa3pTR8"/>

                <data android:scheme="https"
                    android:host="youtu.be"
                    android:pathPrefix="/XB-NqHz9tRE"/>

                <data android:scheme="https"
                    android:host="youtu.be"
                    android:pathPrefix="/3kNZ-kYOhF4"/>

                <data android:scheme="https"
                    android:host="youtu.be"
                    android:pathPrefix="/4eBvMdv7pGU"/>

                <data android:scheme="https"
                    android:host="youtu.be"
                    android:pathPrefix="/8kXZCJ-Mp0Y"/>

                <data android:scheme="https"
                    android:host="youtu.be"
                    android:pathPrefix="/3T4X06kaVlg"/>

                <data android:scheme="https"
                    android:host="youtu.be"
                    android:pathPrefix="/Ata5UWvTzSU"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.main.ui.devartlink.letsTalk.ChatThread.ChatThreadActivity"
            android:exported="false" />
        <activity
            android:name=".ui.main.ui.devartlink.letsTalk.LetsTalkActivity"
            android:exported="true"
            android:windowSoftInputMode="stateHidden" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.devartlab.provider"
            android:exported="false"
            android:grantUriPermissions="true">

            <!-- ressource file to create -->
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <service
            android:name=".utils.ExampleJobService"
            android:exported="true"
            android:permission="android.permission.BIND_JOB_SERVICE" />
        <!--
     <service
            android:name=".myFirebaseMessagingService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        -->
        <activity
            android:name="com.mazenrashed.printooth.ui.ScanningActivity"
            android:exported="true"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
            <intent-filter>
                <action android:name="com.mazenrashed.universalbluethootprinter.ui.ScanningActivity.LAUNCH" />
            </intent-filter>
        </activity>
    </application>

</manifest>